<li class='TODO-item' id='listItemEdit-{{id}}'>
  <input
    type='text'
    name='listItemEdit-{{id}}-input'
    id='listItemEdit-{{id}}-input'
    value='{{text}}'
  />
  <button id='listItemEdit-{{id}}-save'>Save</button>
  <button id='listItemEdit-{{id}}-cancel'>Cancel</button>
</li>